body {
  font-size: 1.125rem;
  line-height: 1.5;
}

main .rich-text p {
  line-height: 1.75rem;
}

/* There is a specific design request to remove the margin above lists and below small headlines */
.rich-text ul,
.rich-text .ds-label-01-bold + p {
  @apply mt-0;
}

/* Markdown only pages (imprint etc.) adaptions */
.rich-text h2:not(:first-child) {
  @apply pt-40;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

main ul li,
main ol li {
  @apply pt-8;
}
