main .rich-text a {
  @apply font-bold;
}

.precheck-navigation span::after {
  /* prevent shifting on navigation */
  @apply ds-label-02-bold;
  display: block;
  content: attr(title);
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
