main .rich-text a {
  @apply font-bold;
}

main .ds-button:not(.ds-button-ghost) {
  @apply max-sm:ds-button-full-width sm:ds-button-large;
}

.precheck-navigation span::after {
  /* prevent shifting on navigation */
  @apply ds-label-02-bold;
  display: block;
  content: attr(title);
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
